
/* <<<<<<<< General >>>>>>> */

:root {
    --da-blue: #32cef6;
}

.giu-btn,
button.gui-btn.btn.btn-info {
    background-color: black;
    border-color: black;
    font-weight: 500;
}

.btn.btn-primary.btn--hero-cta,
.giu-btn:hover,
button.gui-btn.btn.btn-info:hover,
.btn--signin.btn.btn-primary:hover {
    background-color: white;
    border-color: black;
    color: black;
    font-weight: 500;
    transition: all .4s ease;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: 800;
}

h1.page-header {
    margin-bottom: 65px;
}

.btn--signin.btn.btn-primary {
    color: white;
    font-weight: 500;
    transition: all .4s ease;
}


/* <------- NAV BAR ----> */
nav.nav-bar.navbar.navbar-expand.navbar-light {
    justify-content: space-between;
    padding: 15px 5%;
}

a.giu-logo.nav-link {
    color: black;
    font-weight: 900;
}

.nav-item {
    margin-left: 25px;
}

div#basic-navbar-nav {
    justify-content: end;
}

/* <------- Home Page ----> */

.hero-img {
    background-position: center;
    min-height: 600px;
    display: flex;
    align-items: center;
}

.hero-content {
    padding: 5%;
}

.hero-content {
    max-width: 40%;
}

.hero-content__header,
.hero-content__sub-header {
    color: white;
}

.hero-content__sub-header {
    font-size: 22px;
}

.login-form,
#signupForm {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content {
    z-index: 5;
}

.hs-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    padding: 30px;
}

.hs-block__content {
    max-width: 600px;
    margin: 44px auto;
    z-index: 5;
}


.hs-triangle {
    position: absolute;
    left: 0;
}

.about-triangle {
    bottom: 65%;
}

.about-triangle--bottom {
    top: 41%;
    transform: rotate(180deg);
}

.hs-block.hs-block--about {
    background-color: #32cef6;
    position: relative;
}

.hs-block.hs-block--mission {
    background-color: #ceff5b;
    position: relative;
}

.hs-triangle.hs-triangle--top {
    bottom: 76%;
}


.section-header {
    text-align: center;
    z-index: 5;
}

.hs-block.hs-block--popular {
    min-height: 800px;
}

.hs-block.hs-block--popular .hs-block__content {
    max-width: 1140px;
    width: 100%;
}

.popular-vices-container {
    display: flex;
}

.hs-button-container {
    text-align: end;
}

/* <<<<<<<<< Sign up >>>>>>> */
main.signup-main {
    /* display: flex; */
    height: 100vh;
    justify-content: center;
}

#signupForm {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;
}




/* <<<<<<<<<< Profile page >>>>>>>>>> */
.profile__stripe-payment-status-message {
    min-height: 150px;
    background-color: #d3d3d347;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 42px;
}

.profile__section {
    margin-bottom: 65px;
}

.section-header.section-header--profile {
    text-align: left;
}

span.profile__sub-status-text {
    margin-right: 52px;
}

.profile__status-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.profile__section-text {
    font-size: 22px;
    margin-bottom: 0;
}

/* <------- Vice Page ----> */

.vice-card.card {
  width: 350px;
  min-height: 275px;
  margin: 15px;
  padding:15px;
  overflow: hidden;
  transition: transform .3s ease,all .4s ease;
}
.vice-card.card:hover {
    box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 20%);
    transform: translate(0,-3px) perspective(1px) translateZ(0);
}
.vice-card__bg {
    height: 100%;
    width: 125%;
    position: absolute;
    background-color: purple;
    top: 154px;
    transform: rotate(-7deg);
    left: -11px;
}

.vice-card__img-container {
    width: 125px;
    z-index: 10;
}
.vice-card-content {
    z-index: 10;
}

img.vice-card__img {
    width: 100%;
    padding-right: 10px;
}

.vice-card__name {
 font-size: 1.5em;
}

.vice-card__price-btn-conatiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vice-card__price {
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.vice-card__btn.btn.btn-info {
    background-color: black;
    border-color: black;
    font-weight: 500;
}
.vice-card__btn.btn.btn-info:hover {
    background-color: white;
    border-color: black;
    color: black;
    font-weight: 500;
    transition: all .4s ease;
}

.vice-card-content {
    display: flex;
}

.vice-card__price-btn-conatiner {
    margin-top: auto;
    z-index: 10;
}
/* <------- Stripe ----> */
/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.checkoutForm {
  background-color: #FFFFFF;
  width: 400px;
  height: 200px;
  margin: 7em ;
  border-radius: 1.5em;
  box-shadow: 0px 11px 20px 2px rgba(0, 0, 0, 0.14);
}

/* .StripeElement {

  height: 40px;
  padding: 10px 12px;
  width: 350px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */

/* <<<<<<  Cart >>>>>> */

.cart-list__row td {
  border: none;
}
td.cl-remove-btn-container {
    display: flex;
    justify-content: center;
}

.table-dark.table-hover tbody tr.cart-list__row {
    background: white;
    border-bottom: 1px solid black;
}
.table-dark.table-hover tbody tr:hover {
    color: black;
    background-color: rgb(255 255 255 / 95%);
}

td.cl-col__text {
    color: black;
    border-left-color: white !important;
    vertical-align: middle;
}

table.cl-table.table.table-dark.table-striped.table-bordered.table-hover {
    border: 1px solid;
}

th.cl-table-header__text {
    border: none;
}

.cart-total {
    padding: 30px 0px;
    text-align: right;
}

.cart-total span {
    font-weight: 800;
}

/* <<<<<<  Check Out >>>>>> */
.checkout-btn-container.container {
    display: flex;
    justify-content: end;
}

button.check-out-btn.btn.btn-dark {
    font-size: 22px;
    font-weight: 700;
}

.check-out__body .btn-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.check-out__header.modal-header {
    color: Black;
    border-bottom: none;
}

.check-out__header button.close {
    color: white;
}

label.check-out-input-label {
    font-weight: 800;
}